{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 42,
        "browsers": ["last 2 versions"]
      },
      "useBuiltIns": true
    }]
  ],
  "env": {
    "test": {
      "plugins": ["transform-async-to-generator"]
    }
  }
}
